.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  background: var(--page-bg-color);
  margin-top: 5%;
}

.container .title {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0.8em;
  color: var(--font-secondary-color);
  text-align: center;
}


.table {
  width: 75%;
  border-collapse: collapse;
}

.table tr {
  background-color: var(--table-bg);
}

.table th, .table td {
  padding: 12px;
}

.table th {
  height: 50px;
  background-color: var(--accent-color);
  color: white;
}

.table th:first-child {
  border-radius: 10px 0 0;
}

.table th:last-child {
  border-radius: 0 10px 0 0;
}

.table td {
  height: auto;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  padding: 20px 15px;
}

@media (hover: hover) and (pointer: fine) {
  .table tbody tr:hover {
    cursor: pointer;
    opacity: 0.9;
    background: var(--border-color);
  }
}
