.container {
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin-top: 10vh;
}

.button {
  width: 460px;
  height: 80px;
  font-size: 22px;
  color: var(--font-primary-color);
  letter-spacing: .02em;
  cursor: pointer;
  background-color: var(--btn-color);
  border: none;
  border-radius: 10px;
}

.avatar{
  position: relative;
}

.avatarEdit {
  width: 115px;
  height: 115px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
