.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding: 0;
  margin-top: 100px;
}

.button {
  width: 460px;
  height: 80px;
  font-size: 22px;
  color: var(--font-primary-color);
  letter-spacing: .02em;
  cursor: pointer;
  background-color: var(--btn-color);
  border: none;
  border-radius: 10px;
}

.avatar{
  position: relative;
}

.avatarEdit {
  width: 115px;
  height: 115px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

@media (max-width: 793px) {
  .container {
    margin-top: 150px;
  }
}

@media (max-width: 425px) {
  .container {
    margin-top: 200px;
  }
}
