.container {
  justify-content: space-between;
}

.descrWrapper {
  padding: 64px 32px;
  color: var(--game-descr-font-color);
  text-align: center;
  background-color: var(--game-descr-bg-color);
  border: 4px solid var(--border-color);
  border-radius: 8px;
  margin-top: auto;
}

.descrTitle {
  margin-top: 0;
  font-size: 32px;
}

.descrText {
  font-size: 18px;
  line-height: 1.5;
  text-align: start;
  letter-spacing: 0.5px;
}

.button {
  margin-top: auto;
}

.buttonVisible {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .descrWrapper {
    transition: transform var(--descr-duration) cubic-bezier(0.47, 1.64, 0.41, 0.8) var(--descr-delay);
    transform: translateY(-100vh);
  }

  .descrWrapperVisible {
    transform: translateY(0);
  }

  .button {
    transform: translateY(200px);
  }

  .buttonVisible {
    transform: translateY(0);
  }
}
