
/* Dark mode btn */

.darkModeBtn {
	position: relative;
	display: flex;
	justify-content: space-between;
	order: 9;
	width: 51px;
	height: 26px;
	padding: 4px;
	background-color: #272727;
	border-radius: 50px;
}

.darkModeBtn::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 24px;
	height: 24px;
	content: '';
	background-color: #fff;
	border-radius: 50%;
}

.darkModeBtnActive::before {
	left: 26px;
}

.darkModeBtnIcon {
	position: relative;
	z-index: 9;
}

@media (prefers-reduced-motion: no-preference) {
  .darkModeBtn::before {
    transition: left 0.2s ease-in;
  }
}

