/* Nav */

.nav {
	padding: 12px 20px;
	background-color: var(--nav-bg-color);
	border-bottom: 1px solid var(--border-color);
	color: var(--nav-text);
	letter-spacing: normal;
}

.navRow {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	margin-right: auto;
	color: var(--nav-text);
	font-size: 24px;
}

.logo strong {
	font-weight: 700;
}

.navList {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	margin: 7px;

	& > li {
		list-style-type: none;

		& > a {
			text-decoration: none;
		}
	}
}

.navListLink {
	color: var(--nav-text);
}

.linkActive {
	position: relative;
}

.linkActive::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent-color);
}

@media (hover: hover) and (pointer: fine) {
	.navListLink:hover {
		opacity: 0.8;
	}
}

@media (prefers-reduced-motion: no-preference) {
  .nav {
    transition: background-color 200ms linear;
  }

	.navListLink {
		transition: opacity 0.2s ease-in;
	}
}

