.container {
  justify-content: center;
}

.text {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 4em;
  font-weight: 700;
  color: var(--game-descr-font-color);
}

.video {
  max-width: 50%;
}
