.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 75px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  text-align: center;
  line-height: 38px;
}

.fieldset {
  padding: 0;
  margin: 50px 0 0;
  min-width: 460px;
  border: none;
}

.fieldsetTwoColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 960px;
  column-gap: 40px;
}

.button {
  height: 80px;
  width: 460px;
  background-color: var(--btn-color);
  margin-top: 50px;
  border-radius: 10px;
  color: var(--font-primary-color);
  font-size: 22px;
  letter-spacing: .02em;
  border: none;
  cursor: pointer;
}

.buttonDisabled {
  cursor: default;
  background-color: var(--nav-bg-color);
  color: var(--page-bg-color);
}

.linkWrapper {
  margin: 40px 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: var(--font-primary-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--accent-color);
}

@media (prefers-reduced-motion: no-preference) {
  .button {
    transition: color .25s, background-color .25s;
  }

  .button:hover {
    transition: color .25s, background-color .25s;
  }

  .link {
    transition: transform .25s;
  }
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    color: var(--font-secondary-color);
    background-color: var(--btn-hover-color);
  }

  .buttonDisabled:hover {
    background-color: var(--nav-bg-color);
    color: var(--page-bg-color);
  }

  .link:hover {
    transform: scale(1.3);
  }
}

@media (max-width: 1024px) {
  .fieldsetTwoColumns {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 460px;
  }
}

@media (max-width: 525px) {

  .form {
    width: 95%;
  }

  .fieldset {
    min-width: 100%;
  }

  .button {
    width: 100%;
  }
}

@media (max-width: 460px) {

  .form {
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .button {
    height: 52px;
    font-size: 18px;
  }

  .title {
    font-size: 20px;
  }

  .fieldset {
    margin-top: 30px;
  }
}
