.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.title {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  text-align: center;
  max-width: 263px;
  line-height: 38px;
}

.fieldset {
  padding: 0;
  margin: 50px 0 0;
  min-width: 460px;
  border: none;
}

.fieldsetTwoColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 960px;
  column-gap: 40px;
}

.button {
  height: 80px;
  width: 460px;
  background-color: var(--btn-color);
  margin-top: 50px;
  border-radius: 10px;
  color: var(--font-primary-color);
  font-size: 22px;
  letter-spacing: .02em;
  transition: color .25s, background-color .25s;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: var(--font-secondary-color);
  background-color: var(--btn-hover-color);
  transition: color .25s, background-color .25s;
}

.linkWrapper {
  margin: 40px 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: var(--font-primary-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--accent-color);
  transition: transform .25s;
}

.link:hover {
  transform: scale(1.3);
}
