.button {
  box-sizing: border-box;
  width: 100%;
  padding: 24px 32px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: var(--font-primary-color);
  cursor: pointer;
}

.buttonPrimary {
  background-color: var(--btn-color);
}

.buttonSecondary {
  background-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  .buttonPrimary:hover {
    color: var(--font-secondary-color);
    background-color: var(--btn-hover-color);
  }

  .buttonSecondary:hover {
    border-color: var(--font-secondary-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .button {
    transition-delay: var(--button-transition-delays);
    transition-timing-function: var(--button-transition-functions);
    transition-duration: var(--button-transition-durations);
    transition-property: var(--button-transition-properties);
  }
}
