.button {
  width: 100%;
  padding: 24px 32px;
  font-size: 22px;
  color: var(--font-primary-color);
  letter-spacing: 0.02em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
}

.buttonPrimary {
  background-color: var(--btn-color);
}

.buttonSecondary {
  background-color: transparent;
}

.buttonIcon {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media (hover: hover) and (pointer: fine) {
  .buttonPrimary:hover {
    color: var(--font-secondary-color);
    background-color: var(--btn-hover-color);
  }

  .buttonSecondary:hover {
    border-color: var(--font-secondary-color);
  }

  .buttonIcon:hover {
    transform: scale(1.05);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .button {
    transition: var(--button-transition-properties) var(--button-transition-durations) var(--button-transition-functions) var(--button-transition-delays);
  }
}
