.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 58px); /* - высота навбара */
  background-color: var(--page-bg-color);
  background-image: url("../../assets/img/space-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  --descr-duration: 1000ms;
  --descr-delay: 400ms;
}

.field {
  position: relative;
  overflow: hidden;
  width: 1024px;
  min-width: 1024px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--page-bg-color);
  background-image: url("../../assets/img/arkanoid-title.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: var(--arkanoid-title-blend-mode);
  aspect-ratio: 16/11;
}

.canvas {
  width: 100%;
  height: 100%;
}



