.field {
  margin-top: 32px;
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.field:first-child {
  margin-top: 0;
}

.fieldTwoColumns:nth-child(2) {
  margin-top: 0;
}

.label {
  font-weight: 700;
  font-size: 18px;
  color: var(--font-secondary-color);
}

.input {
  padding: 26px 30px;
  margin-top: 16px;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  color: var(--font-primary-color);
  outline: none;
}

.input:focus {
  border: 2px solid var(--accent-color);
}

.input::placeholder {
  color: var(--font-secondary-color);
  opacity: 1;
  transition: opacity 0.25s ease;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease;
}



.inputError, .inputError:focus {
  border: 2px solid var(--error-bg-color);
}

.errorMessage {
  text-align: center;
  position: absolute;
  background-color: var(--error-bg-color);
  color: var(--error-text-color);
  left: 20px;
  right: 20px;
  top: 96px;
  min-height: 48px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  justify-content: center;
  align-items: center;
  display: none;
  max-height: 48px;
}

.active {
  display: flex;
}

@media (max-width: 1024px) {
  .fieldTwoColumns:nth-child(2) {
    margin-top: 32px;
  }
}

@media (max-width: 460px) {
  .input {
    padding: 14px 18px;
    font-size: 16px;
    line-height: 20px;
  }

  .label {
    font-size: 14px;
  }
}
