.section {
  padding-top: 10%;
  padding-bottom: 40px;
  z-index: 1;
  position: relative;
  background-image: url("../../assets/img/planet.webp");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 39% 0%;
  color: var(--page-bg-color);
  filter: drop-shadow(9px -20px 35px black);
}

.parallax {
  background-size: 400px;
}

.article {
  max-width: 100%;
  margin: auto;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
}

.article p {
  font-size: 1.5em;
}

.title {
  text-align: center;
  font-size: 4em;
}

.cardWrap {
  display: flex;
  column-gap: 40px;
  align-items: stretch;
  justify-content: center;
}

.card {
  max-width: 40%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 2.5em;
  }

  .article {
    max-width: 80%;
    font-size: 1em;
  }

  .cardWrap{
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .card{
    max-width: 90%;
  }
}
