.section {
  padding-top: 10%;
  padding-bottom: 40px;
  z-index: 1;
  position: relative;
  background-image: url("../../assets/img/planet.webp");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 39% 0%;
  color: var(--page-bg-color);
  filter: drop-shadow(9px -20px 35px black);
}

.parallax {
  background-size: 400px;
}

.article {
  max-width: 70%;
  margin: auto;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
}

.article p {
  font-size: 1.5em;
}

.title {
  text-align: center;
  font-size: 4em;
}

.cardWrap {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 30%;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.card > img {
  height: 255px;
  border-radius: 8px;
  width: auto;
  object-fit: cover;
}
