.dummyScreen {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 32px;
  overflow: hidden;
  background-color: var(--overlay-color);
}

.button {
  max-width: 400px;
  color: var(--game-descr-font-color);
}


@media (prefers-reduced-motion: no-preference) {
  .button {
    transition: var(--button-transition-properties), transform var(--button-transition-durations), var(--descr-duration) var(--button-transition-functions), ease-in var(--button-transition-delays), var(--descr-delay);
  }
}
