.flexRow {
  display: flex;
  text-decoration: none;
  color: var(--font-primary-color);
}

.item {
  width: 110px;
  min-height: 70px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  font-weight: 700;
}

.item:first-child {
  flex-grow: 1;
}

.flexRow:nth-child(2) {
  background-color: var(--btn-color);
}
.flexRow:nth-child(3) {
  background-color: var(--accent-darken-color);
}
.flexRow:nth-child(4) {
  background-color: var(--secondary-color);
}

@media (hover: hover) and (pointer: fine) {
  .flexRow:hover {
    opacity: 0.9;
  }
}
