.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    background: linear-gradient(to top, var(--page-bg-color), var(--accent-color));
}
