:root {
  --OFF: ;
  --ON: initial;
  --nav-bg-color: var(--light, #d0d3cd) var(--dark, #25313f);
  --page-bg-color: var(--light, #f0effb) var(--dark, #0D1B2A);
  --input-bg-color: var(--light, #D2D5DD) var(--dark, #0D1B2A);
  --font-primary-color: var(--light, #1E201D) var(--dark, #E0E1DD);
  --font-secondary-color: var(--light, #2D2F45) var(--dark, #778DA9);
  --border-color: var(--light, #e1e3f6) var(--dark, #304864);
  --accent-color: var(--light, #999AC6) var(--dark, #415A77);
  --btn-color: var(--light, #7475B6) var(--dark, #415A77);
  --btn-hover-color: var(--light, #8E8FC6) var(--dark, #304864);
  --nav-text: var(--light, #0D1B2A) var(--dark, #E8EBE4);
  --header-text: var(--light, #B8BACF) var(--dark, #E8EBE4);
  --table-bg: var(--light, #fafaff) var(--dark, #1B263B);
  --font-accent-color: var(--light, #505197) var(--dark, #9e9fd4);
  --alert-text-color: var(--light, #005500) var(--dark, #c7ffdb);
  --alert-bg-color: var(--light, #c7ffdb) var(--dark, #007c00); 
  --error-text-color: var(--light, #b10000) var(--dark, #ffefef);
  --error-bg-color: var(--light, #ffd2d2) var(--dark, #a90000); 
}

html[data-theme='light'] { 
  --light: var(--ON);
  --dark: var(--OFF);
}

html[data-theme='dark'] {
  --light: var(--OFF);
  --dark: var(--ON);
}
