
.backBtn {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .backBtn:hover {
    transform: scale(1.05);
  }
}
