/* Header */
.header {
	display: flex;
	justify-content: center;
	min-height: 695px;
	color: var(--header-text-color);
	text-align: center;
	background-color: var(--page-bg-color);
	background-image: url('../../assets/img/space-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.headerWrapper {
	max-width: 660px;
	height: fit-content;
	padding: 0 15px 40px;
	margin-top: 60px;
	background-color: rgb(0 0 0 / 60%);
	border-radius: 6px;
}

.headerTitle {
	margin-bottom: 20px;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.4;
}

.headerText {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.333;
}

.headerText p + p {
	margin-top: 0.5em;
}

.linkBtn {
	display: inline-block;
  width: 190px;
  height: 60px;
  margin-top: 50px;
  font-size: 22px;
	line-height: 54px;
  color: var(--font-primary-color);
	text-decoration: none;
  letter-spacing: .02em;
  cursor: pointer;
  background-color: var(--btn-color);
  border: none;
  border-radius: 10px;
  transition: color .25s, background-color .25s;
}

@media (hover: hover) and (pointer: fine) {
	.linkBtn:hover {
		color: var(--font-secondary-color);
		background-color: var(--btn-hover-color);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .linkBtn {
    transition: color 0.25s, background-color .25s;
  }
}
